<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta charset="utf-8">
    <title>AngularJS: UI-Router Quick Start</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">


    <body class="container">
        <section id="frames_area" class="frames_area" ng-controller="MainFramesCtrl">
            <nav id="frames_nav" class="frames_nav">
                <ul class="nav nav-tabs">
                    <li ng-repeat="f in frames track by f.id" ng-click="alert('')">
                        <a ng-bind="f.name" ng-click="ifShow(f, $event)"></a>
                        <a ng-click="close($index,$event)">close</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <iframe width='1000' height="500" 
                    ng-repeat="f in frames track by f.id"
                    ng-src="{{f.src}}" 
                    id="{{f.id}}"
                    ng-show="id === f.id"></iframe>
            </div>
        </section>
        <!-- jQuery -->
        <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
        <!-- Angular -->
        <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
        <!-- UI-Router -->
        <script src="http://cdn.bootcss.com/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        <!-- App Script -->
        <script src="app.js"></script>
    </body>

</html>